:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'DM Mono', monospace;
}

header {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 20px;
    display: grid;
    grid-template-rows: 0.75fr 1fr;
    grid-template-columns: 2;
    gap: 20px;
    height: 80vh;
}

section {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

button {
    padding: 8px;
    cursor: pointer;
}

#current-poll-section {
    grid-column-start: 1;
    grid-column-end: 3;
}

#new-poll-section, #current-poll-section, #past-polls-section {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

h3 {
    text-align: center;
}

#current-poll-section h4 {
    font-size: 60px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
}

input {
    padding: 4px;
    margin: 8px;
}

label {
    display: block;
}

.current-poll-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 40px;
    text-align: center;
}

#current-poll-wrapper {
    display: flex;
}



.current-poll-options * {
    margin: 4px;
}


.value-buttons {
    display: flex;
    font-size: 24px;
}

#past-polls-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 300;
    font-size: 12px;
}

.poll {
    text-align: center;
    border: 0.5px solid black;
}

.poll p {
    margin: 4px;
}